[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
flask = "*"
pandas-profiling = "*"
sklearn = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
